{% extends 'app/base.html' %}
{% load widget_tweaks %}

{% block content %}

<h1 class="text-center mb-5 mt-3">Translate job</h1>
<div class="content-section mt-5 mb-5 p-2 ">
	<div class="container w-50 mb-5 justify-content-center">
		<div class="ms-5">
			<p><b>Title:</b> {{job.title}}</p>
			<p><b>Description:</b> {{job.description}}</p>   
			<p><b>Text to translate:</b> {{job.text}}</p>   
		</div>
	</div>
	<form action="{% url 'app:complete_job' user.id job.id %}" method="POST">
		{% csrf_token %}
		<p>
            <label for="my_translated_text">My translation</label>
            <input id="my_translated_text" name="translated_text" type="text">
        </p>
   
		<div class="row mt-4 text-center mb-5">
            <div clss="col-md-8 ms-2">
				<button class="btn custom-btn" type="submit">Submit</button>
			</div>
		</div>
    </form>
</div>
{% endblock content %}