{% extends 'app/base.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Dashboard</h1>
    </div>
  </div>
  <div class="row">
    <p>Username: {{ user.username }}</p>
  </div>
  <div class="row">
    <p>E-mail: {{ user.email }}</p>
  </div>
  <div class="row">
    <p>Token balance: {{ user.userprofile.token_balance }} token(s)</p>
  </div>
  <div class="row">
    <h2 class="text-center">Jobs</h2>
  </div>
  {% for job in jobs %}
    {% include 'includes/job_card.html' with job=job %}
  {% empty %}
    <div class="row">
      No jobs posted.
    </div>
  {% endfor %}
{% endblock content %}