{% extends 'app/base.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center mt-3 mb-5">Dashboard</h1>
    </div>
  </div>
  
  <h5 class="mb-3">Username: {{ user.username }}</h5>
  <h5 class="mb-3">E-mail: {{ user.email }}</h5>
  <h5 class="mb-3">Token balance: {{ user.userprofile.token_balance }} token(s)</h5>


  <h2 class="text-center mt-5">Jobs</h2>

  <div class="mb-5">
    {% for job in jobs %}
      {% include 'includes/job_card.html' with job=job %}
      {% if job.is_assigned %}
        <div>ASSIGNED TO SOMEONE</div>
      {% else %}
        {% for bid in bids %}
          {% if bid.job == job %}
            <div class="row my-3">
              <h5 class="col-3 d-block"><a href="#">{{ bid.bid_user }}</a>: {{ bid.bid }}</h5>
              <form action="{% url 'app:assign_job' bid.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary col-1 ms-5">Assign</button>
              </form>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% empty %}
      <div class="row">
        No jobs posted.
      </div>
    {% endfor %}
  </div>
  
  <h2 class="text-center mt-5 mb-4">Messages</h2>
  
  <div class="mb-4">
    {% for message in messages %}
      <div class="card my-2">
        <div class="card-body m-2">
          <h4>{{ message.from_user.username }}</h4>
          <p>Sent: {{ message.send_date }}</p>
          <p>{{ message.text }}</p>
          <a href="#" class="card-link">{{ message.from_user }}'s profile</a>
        </div>
      </div>
    {% empty %}
      <div class="row">
        No messages.
      </div>
    {% endfor %}
  </div>
{% endblock content %}