{% extends 'app/base.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Dashboard</h1>
    </div>
  </div>
  <div class="row">
    <h4>Username: {{ user.username }}</h4>
  </div>
  <div class="row">
    <h4>E-mail: {{ user.email }}</h4>
  </div>
  <div class="row">
    <h4>Token balance: {{ user.userprofile.token_balance }} token(s)</h4>
  </div>
  <div class="row">
    <h2 class="text-center">Jobs</h2>
  </div>
  <div class="mb-4">
    {% for job in jobs %}
      {% include 'includes/job_card.html' with job=job %}
      <a href="{% url 'app:job_status' job.id %}" class="btn btn-primary ms-2">View status</a>
    {% empty %}
      <div class="row">
        No jobs posted.
      </div>
    {% endfor %}
  </div>
  <div class="row">
    <h2 class="text-center">Messages</h2>
  </div>
  <div class="mb-4">
    {% for message in messages %}
      <div class="row">
        <p>{{ message.from_user }}: {{ message.text }} {{ message.send_date }}</p>
      </div>
    {% empty %}
      <div class="row">
        No messages.
      </div>
    {% endfor %}
  </div>
{% endblock content %}