{% extends 'app/base.html' %}
{% block content %}
        <h3 class="text-center mt-3">Translators</h3>
        {% for translator in translators %}
                {% include 'includes/user_card.html' with user=translator %}
                {% empty %}
                <div class="row">
                No jobs posted.
                </div>
        {% endfor %}
        <h3 class="text-center mt-5">Available jobs</h3>

        <div class="row mx-auto mt-5">
                <form action="{% url 'home_path' %}" >
                        {% csrf_token %}
                        
                        {% include 'includes/job_form.html' with form=filter_form %}
                <div class="mx-auto text-center">
                        <button class="btn custom-btn " type="submit">Search</button>
                </div>
                        
                </form>
        </div>
        {% for job in available_jobs %}
                {% include 'includes/unassigned_jobs.html' with job=job user=user %}
                {% empty %}
                <div class="row">
                        No jobs posted.
                </div>
        {% endfor %}
{% endblock content %}