{% extends 'app/base.html' %}
{% block content %}
        
        
        <h1 class="text-center mt-3">Translators</h3>
        {% for translator in translators %}
                {% include 'includes/user_card.html' with user=translator %}
                {% empty %}
                <div class="row">
                No translators.
                </div>
        {% endfor %}
        
        <h1 class="text-center mt-5">Available jobs</h3>

        <div class="row mx-auto mt-5 pt-5 pb-3 bg-light">
                       
            <form method="GET" action="{% url 'home_path' %}">
                 
                <div class="form-row w-50 mx-auto">
                    <div class="form-group col-12">
                        <div class="input-group">
                            <input class="form-control py-2 border-right-0 border" type="search" name="target_language" placeholder="Language..." />
                           
                        </div>
                    </div>        
                </div>
                
                <select class="form-select w-50 mx-auto mt-3"  name="job_field" aria-label="Default select example">
                    <option value="">-</option>
                    <option value="Art">Art</option>
                    <option value="Business">Business</option>
                    <option value="Computers">Computers</option>
                    <option value="Education">Education</option>
                    <option value="Engineering">Engineering</option>
                    <option value="Finance">Finance</option>
                    <option value="Law">Law</option>
                    <option value="Literature">Literature</option>
                    <option value="Medicine">Medicine</option>
                    <option value="Science">Science</option>
                    <option value="Social Sciences">Social Sciences</option>
                    <option value="Technology">Technology</option>
                </select>      
               
                   
                <div class="mx-auto text-center mt-3">
                    <button class="btn custom-btn " type="submit">Search</button>
                </div>
                        
        </form>
        </div>
        {% for job in available_jobs %}
                
                {% include 'includes/unassigned_jobs.html' with job=job user=user %}
                {% empty %}
                <div class="row">
                        No jobs posted.
                </div>
        {% endfor %}
{% endblock content %}