{% extends 'app/base.html' %}
{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <meta charset="UTF-8">
</head>
<body>
    <style>
        .rating-list li {
          float: right;
          color: #ddd;
          padding: 10px 5px;
        }

        .rating-list li:hover,
        .rating-list li:hover ~ li {
          color: orange;
        }

        .rating-list {
          display: inline-block;
          list-style: none;
        }
        .checked {
            color: orange;
        }
    </style>
    <h1 class="text-center mb-5 mt-3">User profile</h1>

    <h5 class="mb-3"><b>Username:</b>{{ user_from_jobs.username }}</h5>

    <h5 class="mb-3"><b>Email address:</b> {{ user_from_jobs.email }}</h5>

    {% if user_from_jobs.userprofile.is_translator %}
        <h5 class="mb-3"><b>Avg rating:</b>
            <span class="bi bi-star-fill {% if rating > 0 %} checked {% endif %}"></span>
            <span class="bi bi-star-fill {% if rating > 1 %} checked {% endif %}"></span>
            <span class="bi bi-star-fill {% if rating > 2 %} checked {% endif %}"></span>
            <span class="bi bi-star-fill {% if rating > 3 %} checked {% endif %}" ></span>
            <span class="bi bi-star-fill {% if rating > 4 %} checked {% endif %}"></span>
        </h5>
    {% endif %}

    <h5 class="mb-3"><b>Accepted jobs:</b></h5>
    {% for accepted_job in accepted_jobs %}
        {% include 'includes/job_card.html' with job=accepted_job %}
        {% empty %}
        <p >
          No jobs posted.
        </p>
    {% endfor %}

    <h5 class="mb-3"><b>Completed jobs:</b></h5>
    {% for completed_job in completed_jobs %}
        {% include 'includes/job_card.html' with job=completed_job %}
        {% empty %}
        <p >
          No jobs posted.
        </p>
    {% endfor %}
    
    {% if user.id == user_from_jobs.id %}
        <div class="form-group">
            {% block email_new %}
                {% include 'app/email_change.html' with form=email_form %}
            {% endblock%}
        </div>
        <div class="form-group">
            {% block password_new %}
                {% include 'app/password_change.html' with form=password_form %}
            {% endblock%}
        </div>
    {% endif %}

    {% if user.userprofile.is_translator %}
        <h2 class="text-center mt-5 mb-4">Submitted bids</h2>
        {% for bid in translator_bids %}
            {% include 'includes/bid_form.html' with job_bid=bid %}
        {% endfor %}

        <h2 class="text-center mt-5 mb-4">Assigned jobs</h2>
        {% for a_job in translator_assigned_jobs %}
            {% include 'includes/job_card.html' with job=a_job %}
        {% endfor %}

        <!--Jobs that he ended-->
        <h2 class="text-center mt-5 mb-4">Completed jobs</h2>
        {% for c_job in translator_completed_jobs %}
            {% include 'includes/job_card.html' with job=c_job %}
        {% endfor %}

    {% endif %}
</body>
{% endblock %}