{% extends 'app/base.html' %}
{% block content %}
 
    <h1 class="text-center">User profile</h1>

    <p class="mb-3"><b>Username:</b>{{ user_from_jobs.username }}</p>

    <p class="mb-3"><b>Email address:</b> {{ user_from_jobs.email }}</p>

    <h5 class="mb-3"><b>Accepted jobs:</b></h5>

    <h5 class="mb-3"><b>Completed jobs:</b></h5>

    {% if user.id == user_from_jobs.id %}
        <div class="form-group">
            {% block email_new %}
                {% include 'app/email_change.html' with form=email_form %}
            {% endblock%}
        </div>
        <div class="form-group">
            {% block password_new %}
                {% include 'app/password_change.html' with form=password_form %}
            {% endblock%}
        </div>
    {% endif %}
{% endblock %}