{% extends 'app/base.html' %}
{% block content %}
  <div class="m-4">
    <h3 class="text-center"><b>{{ job.title }}</b></h3>
    <h4 class="my-2">Description: {{ job.description }}</h4>
    <div class="row mt-5">
      <h5 class="col-6"><b>Text</b> ({{ job.source_language }})</h5>
      <h5 class="col-6"><b>Translation</b> ({{ job.target_language }})</h5>
    </div>
    <div class="row mt-2 mb-2">
      <h5 class="col-6">{{ job.text }}</h5>
      <h5 class="col-6">{{ job.translation }}</h5>
    </div>
    <a href="{% url 'app:dashboard' %}" class="btn btn-secondary col-2 mt-5">Back</a>
  </div>
{% endblock %}