<div class="card my-2">
  <div class="card-body m-2">
    <div class="row">
      <h4 class="card-title">{{ job.title }}
      {% if job.is_assigned %}
        {% if job.is_completed %}
          <div class="badge bg-success">Completed</div>
        {% else %}
          <div class="badge bg-primary">Assigned</div>
        {% endif %}
      {% else %}
        <div class="badge bg-secondary">Unassigned</div>
      {% endif %}
      </h4>
    </div>
    <div class="card-subtitle mb-2 text-muted">Budget: {{ job.budget }} token(s)</div>
    <div class="card-text">{{ job.description }}</div>
  </div>
</div>