{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'app/css/message_card.css' %}">
</head>

<div id="container">
    <main>
  
    
      <ul id="chat">
        <li class="{% if user == message.from_user %} me {% else %} you {% endif %}">
          <div class="entete">
            <span class=" status {% if user == message.from_user %} blue {% else %} green {% endif %}"></span>
            <h2>{% if user == message.from_user %} 
                    {{ message.from_user.username }}
                {% else %} 
                    <a href="{% url 'app:profile' message.to_user.id %}">{{ message.from_user.username }}</a> 
                {% endif %}
            </h2>
            <h3>{{ message.send_date }}</h3>
          </div>
          <div class="message">
            {{ message.text }}
          </div>
        </li>
        
    </main>
  </div>
  
  
  


