
  <div class="card mt-4">
    <div class="card-body">
      <h4 class="card-title">{{ job.title }}</h4>
      <div class="card-subtitle mt-3"><b>Description:</b> {{ job.description }}</div>
      <div class="card-text mt-1"><b>Source language:</b>  {{ job.source_language }}</div>
      <div class="card-text mt-1"><b>Target language:</b>  {{ job.target_language }}</div>
      <div class="card-text mt-1"><b>Job field:</b>  {{ job.job_field }}</div>
      <p class="card-text mt-1"><b>Budget:</b>  {{ job.budget }} token(s)</p>
      <p class="card-text mt-1"><a href="#">User's profile</a></p>
      <a href="#" class="btn custom-btn">Bid on Job</a>
      <a href="#" class="btn custom-btn">Message User</a>
    </div>
  </div>