{% extends 'app/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Sign up</h2>
    </div>
    <form method="post" accept-charset="utf-8">
      {% csrf_token %}

      {% include 'includes/bs4_form.html' with form=form %}
      
      <div class="row mt-4 mb-5">
        <div class="col-md-8 mx-auto">
          <input type="submit" value="Sign up" class="btn btn-primary">
          <a href="{% url 'home_path' %}" class="btn btn-default ms-2">Cancel</a>
        </div>
      </div>

    </form>
  </div>
</div>        
{% endblock content %}