{% extends 'app/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Sign up</h2>
      <form method="post" accept-charset="utf-8">
        {% csrf_token %}
        
        {% include 'includes/bs4_form.html' with form=form %}
        
        {% if translator.approved %}
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" checked="checked" value={{user.id}} name="boxes">
              </div>
              {% else %}
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" value={{user.id}} name="boxes">
              </div>
        {% endif %}

        <div class="row mt-4 text-center">
          <div class="col-md-12 ms-2 mb-5">
            <input type="submit" value="Sign up" class="custom-btn btn px-4 py-2">
            <a href="{% url 'home_path' %}" class="btn btn-default px-4 py-2">Cancel</a>
          </div>
        </div>
        
      </form>
    </div>
  </div>
</div>        
{% endblock content %}